<!DOCTYPE html>
<html>

<head>
    <title>studentPage Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1>逢甲大學選課系統</h1>
    <form method="post" action="/action">
        <div class="form-group">
            <span>學院</span>
            <select id="college" class="form-control">
                <option value="資電學院">資電學院</option>
                <option value="商學院">商學院</option>
                <option value="通識中心">通識中心</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>